<p>Расписание занятий</p>

<div class="subjects">
    <ng-container *ngFor="let schedule of scheduleItems">
        <app-schedule-item
         [schedule]="schedule"></app-schedule-item>
    </ng-container>

    <!-- <mat-card class="card-subject">
        <mat-card-header>
            <mat-card-title>Введение в СБ</mat-card-title>
            <mat-card-subtitle>28 мая 2020</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div>Евгений Бахмутский</div>
            <div>Занятие посещено</div>
        </mat-card-content>
    </mat-card>

    <mat-card class="card-subject">
        <mat-card-header>
            <mat-card-title>Библиология</mat-card-title>
            <mat-card-subtitle>15 июня 2020</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            Виктор Зубарев
        </mat-card-content>
    </mat-card>

    <mat-card class="card-subject">
        <mat-card-header>
            <mat-card-title>Тринитология</mat-card-title>
            <mat-card-subtitle>16 июля 2020</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            Антон Иванов
        </mat-card-content>
    </mat-card>
</div>
<div class="subjects">
    <mat-card class="card-subject">
        <mat-card-header>
            <mat-card-title>Герменевтика</mat-card-title>
            <mat-card-subtitle>28 мая 2020</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            Вадим Гыра
        </mat-card-content>
    </mat-card>

    <mat-card class="card-subject">
        <mat-card-header>
            <mat-card-title>Антропология</mat-card-title>
            <mat-card-subtitle>15 июня 2020</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            Виктор Зубарев
        </mat-card-content>
    </mat-card>

    <mat-card class="card-subject">
        <mat-card-header>
            <mat-card-title>Тринитология</mat-card-title>
            <mat-card-subtitle>16 июля 2020</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            Антон Иванов
        </mat-card-content>
    </mat-card>
</div>
<div class="subjects">
    <mat-card class="card-subject">
        <mat-card-header>
            <mat-card-title>Экзегетика</mat-card-title>
            <mat-card-subtitle>28 мая 2020</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            Евгений Бахмутский
        </mat-card-content>
    </mat-card>

    <mat-card class="card-subject">
        <mat-card-header>
            <mat-card-title>Библиология</mat-card-title>
            <mat-card-subtitle>15 июня 2020</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            Виктор Зубарев
        </mat-card-content>
    </mat-card>

    <mat-card class="card-subject">
        <mat-card-header>
            <mat-card-title>Тринитология</mat-card-title>
            <mat-card-subtitle>16 июля 2020</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            Влад Трескин
        </mat-card-content>
    </mat-card> -->
</div>
