<div class="d-flex full-height">
  <div class="bg-white border-right box-shadow d-flex flex-column p-3">
    <div class="d-flex flex-row">
      <mat-icon aria-hidden="false" aria-label="Example home icon"
        >home</mat-icon
      >
      <label class="pr-3">Домой</label>
    </div>
    <div>test</div>
    <div>test</div>
  </div>
  <div>
    <ol>
      <li>
        Предстоящие занятия
      </li>
      <li>
        Статистка по занятиям
      </li>
      <li>
        Мастер планирования занятий
        <small>Выбрать предмет -> Выбрать дату -> Назначить студентов</small>
      </li>
      <li>
        На странице видно занятия
        <ol>
          <li>
            Журнал посещений и выставление оценок
          </li>
        </ol>
      </li>
    </ol>
  </div>
</div>
